<div class="workspaces-container">
  <div class="cards-container">
    <mat-card *ngFor="let workspace of workspaces" class="workspace"
              [class.active]="workspace.active"
              (click)="changeActiveWorkspace(workspace)">
      <div class="card-content-wrapper">
        <div class="card-content">
          <mat-card-title>
            <span>{{workspace.name}}</span>
          </mat-card-title>
          <mat-card-subtitle>Number of users: {{workspace.users.length}}</mat-card-subtitle>
        </div>
        <button mat-mini-fab [color]="'primary'" (click)="addPerson($event, workspace)"><mat-icon>person_add</mat-icon></button>
      </div>
    </mat-card>
  </div>
  <div class="row align-items-center new-workspace-form">
    <div  class="col-8 input">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Add a new workspace</mat-label>
        <input [(ngModel)]="newWorkspaceInput" matInput placeholder="Workspace name" name="new-workspace"/>
      </mat-form-field>
    </div>
    <button class="col-4" (click)="addWorkspace()" mat-flat-button color="primary">Add</button>
  </div>
</div>
