<div id="cern-toolbar">

    <h1><a href="https://home.cern" title="CERN">CERN <span>Accelerating science</span></a></h1>

    <ul [ngClass]="isSignedIn ? 'cern-signedin' : ''">
        <li *ngIf="!isSignedIn; else elseBlock" class="cern-accountlinks"><a class="cern-account" href="#" title="Sign in to your CERN account" (click)="onSignIn()">Sign in</a></li>
        <ng-template #elseBlock>
            <li class="cern-accountlinks cern-multifactor">
                <span>Signed in as: <a class="account" href="https://cern.ch/account" [title]="'Signed in as ' + username">{{username}}</a> </span>
                <a class="cern-signout" href="#" title="Sign out of your account" (click)="onSignOut()">Sign out</a></li>
        </ng-template>
        <li><a class="cern-directory" href="https://cern.ch/directory" title="Search CERN resources and browse the directory">Directory</a></li>
    </ul>

</div>