<div class="files-list">
  <mat-expansion-panel *ngFor="let fileGroup of fileGroups" [expanded]="fileGroup.expanded" class="file-group">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span *ngFor="let path of fileGroup.groupName.split('/'); let i = index;">
          <span class="path" (click)="openPath($event, fileGroup, i)">{{path}}</span><span class="separator">/</span>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let file of fileGroup.files">
        <file-view [file]="file"></file-view>
    </div>
  </mat-expansion-panel>
</div>
