@import '../../../assets/css/colors';

.close-button {
  float: right;
}

.copy-area {
  margin: 10px;
  padding: 10px;
  line-height: 1.4rem;
  font-size: 1.1rem;
  background: $gray-10;
  border: 2px solid $gray-40;
  word-wrap: break-word;
  max-height: 400px;
  overflow: auto;
  white-space: pre-line;
}

.copy-icon {
  margin-right: 8px;
}
