@import '../../assets/css/colors';

.header {
  height: 60px;

  .filetype-input {
    max-height: 100%;
  }

  .title {
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}

.metadata-rules {
  padding: 8px;
}

.editor {
  margin-top: 4px;
  border-top: 2px solid black;
  padding: 8px;
}

.filetype-container {
  max-height: 166px;
  overflow: auto;
  padding: 6px;

  mat-chip {
    width: 120px;
    display: flex;
    user-select: none;

    mat-icon {
      margin-right: 6px;
    }

    span {
      flex-grow: 1;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
