<div class="list">
  <div *ngFor="let directory of excludeFiles(directories)" class="directory">
    <div class="directory-name" #directoryName [class.active]="directory.active" (click)="toggleRow(directory)">
      <mat-icon mat-list-icon *ngIf="!directory.expanded">folder</mat-icon>
      <mat-icon mat-list-icon *ngIf="directory.expanded">folder_open</mat-icon>
        {{nodeName(directory)}}
    </div>
    <directories-list *ngIf="directory.expanded || directory.loaded"
                      [ngStyle]="{display: directory.expanded ? 'block' : 'none'}"
                      [path]="directory.path" [openPath]="directory.openPath"
    ></directories-list>
  </div>
  <div *ngIf="ready && !directories.length" class="italic">(empty)</div>
</div>
