<app-toolbar></app-toolbar>
<div class="content">
  <action-panel class="col-4"></action-panel>
    <files-list [style.display]="activeTab !== 'Workspaces' ? 'block' : 'none'" class="col-8"></files-list>
    <metadata-rules-list [style.display]="activeTab === 'Workspaces' ? 'block' : 'none'" class="col-8"></metadata-rules-list>
</div>
<app-footer></app-footer>
